<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Let's help you reset your password, <%= @user.first_name%>!</p>
	
	<p>Please click the following link to reset your password: 
		http://onedooropen.com/access/resetpassword/<%=@user.token%></p>
	
	<p>Please enter this code at <a href="http://OneDoorOpen.com/access/activate">http://OneDoorOpen.com/access/activate</a>.</p>
	
	<p>Once you verify, you will be able to log in to your account.</p>
	
	<p>Thanks!</p>
	
	<p>- The OneDoorOpen Team</p>
  </body>
</html>