<footer class="footer">
    <div class="row-fluid">
    	<div class="span2 offset4">
    		<small>Powered by <%=image_tag("maestro-logo.png")%></small><br>
        </div>
    	<div class="span3">
        	<small>
                <a href="#">About</a>&nbsp;&nbsp;
                <a href="#">Contact</a>&nbsp;&nbsp;
                <a href="#">Privacy</a>&nbsp;&nbsp;
                <a href="#">Terms</a><br><br>
                <small>&copy; Copyright 2013.</small>
            </small>
        </div>
    </div>
</footer>