<center>

<h1>Thanks for your feedback! For you, a gif.</h1><br>

<img src="http://assets0.ordienetworks.com/misc/Trolley%20Hello.gif">
<br><br>
<a class="btn" onclick="goBack()">Back</a>

</center>
</div>
</div>

<script>
function goBack()
  {
  window.history.back()
  }
</script>