@charset "utf-8";
/* CSS Document */

/* Container */
.container-fluid {
  padding-right: 4%;
  padding-left: 4%;
  *zoom: 1;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 70%;
  margin-left: -35%;
  background-color: #ffffff;
/*  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal-article {
  /*top: 5%;*/
  width: 90%;
  margin-left: -45%;
  /*height: 85%;*/
}

#iframe-percent {
	height: 100%;
}

.modal-header {
	padding: 15px 15px;
}

.modal-header h4 {
	font-weight: 700;
	display: inline;
}

.modal-body {
  position: relative;
  max-height: 70%;
  padding: 15px;
  overflow-y: auto;
}

.modal-body iframe {
  /*height: 400px;*/
}

.modal-body img {
  max-height: 60%;	
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: left;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

/*Add panel modal*/

.modal-add {
  width: 54%;
  margin-left: -27%;
}

.modal-add-header {
	padding: 15px 15px;
}

.modal-add-header h4 {
	font-weight: 700;
	display: inline;
}

.modal-add-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-add-footer {
  text-align: right;
}

/*Highlight color*/
::selection {
	background: #ffea00; /* Safari */
	}
::-moz-selection {
	background: #ffea00; /* Firefox */
}

/*.thumbnail > img {
  display: block;
  max-width: 100%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}*/

/* Footer */

footer {
	position: static;
	bottom: 0px;
	right: 0px;
}

.footer {
	position: relative;
	right: 0;
	left: 0;
	color: #989898;
	background-color: #eee;
	border-top: 1px #DADADA solid;
	padding-top: 30px;
	padding-bottom: 20px;
	height: 60px;
	margin-left: 0px;
	margin-right: 0px;
}

.footer a {
	color: #989898;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .span3 {
	line-height: 13px;
}

.footer .span2 {
	text-align: right;
}


/* Navbar */
.navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
}

.navbar-inner {
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #ffffff, #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fff));
  background-image: -webkit-linear-gradient(top, #ffffff, #fff);
  background-image: -o-linear-gradient(top, #ffffff, #fff);
  background-image: linear-gradient(to bottom, #ffffff, #fff);
  background-repeat: repeat-x;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #DADADA;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.0);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.0);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.0);
}

.navbar-inner:before,
.navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-inner:after {
  clear: both;
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 20px 20px 10px;
  margin-left: -20px;
/*  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;*/
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
}

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #777777;
}

.navbar-link {
  color: #777777;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #333333;
}

.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.nav .active {
  color: #000;
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
  background-color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav > li > a {
  float: none;
  padding: 20px 15px 10px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  text-shadow: none;
}

#addbutton {
  float: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  margin-top: 10px;
  color: #000;
  font-size: 1px;
  text-decoration: none;
  text-shadow: none;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: none;
  text-transform: uppercase;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: none;
}

/* Feedback */
#slideout {
	position: fixed;
	top: 0;
	right: 6%;
	width: 100px;
	padding: 8px 0;
	text-align: center;
	background: #555;
	color: #fff;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#slideout h1 {
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
}

#slideout p {
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;	
}

#slideout_inner {
	position: fixed;
	right: 6%;
	top: -450px;
	background: #555;
	width: 450px;
	padding: 25px;
	height: 400px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align: left;
}

#slideout:hover {
	top: 450px;
}
#slideout:hover #slideout_inner {
	top: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: 300;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

.thumbnail {
  display: block;
  padding: 0px;
  line-height: 20px;
  border: 1px solid #ddd;
  height: 298px;
  overflow: hidden;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.thumbnails > li {
  float: left;
  margin-bottom: 8px;
  margin-left: 20px;
}

/*.row-fluid .span3 { THIS IS TO DECREASE SPACE BETWEEN THUMBNAILS IN FEEDS
  margin: 5px;
}*/

.thumbnail-explore {
  height: 360px;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail > a > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
}

.thumbnail a:hover {
	text-decoration: none;
}

.thumbnail > p {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
  color: #777;
}

.thumbnail-explore > p {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
  color: #777;
  height: 60px;
}


.thumbnail > h4 {
  padding: 8px;
  font-weight: 700;
  padding-bottom: 0px;
}

.thumbnail-footer {
  padding: 4px;
  height: 100px;
  margin-bottom: 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

/*Thumbnail formatting*/
.thumbimg {
	height: 200px;
	overflow: hidden;
}

.thumbimg img{
	width: 100%;
	height: auto;
}

/*Thumbnail article*/
.thumbnail-article {
	background-color: #333;
	height: 170px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 15px;
	overflow: hidden;
}

a .thumbnail-article {
	color: #CCC;
	font-size: 19px;
	font-weight: 300;
	line-height: 20px;
}

a:hover .thumbnail-article {
	color: #eee;
	text-decoration: none;
}


/* Fade */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.01s linear;
     -moz-transition: opacity 0.01s linear;
       -o-transition: opacity 0.01s linear;
          transition: opacity 0.01s linear;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.1s linear, top 0.1s ease-out;
     -moz-transition: opacity 0.1s linear, top 0.1s ease-out;
       -o-transition: opacity 0.1s linear, top 0.1s ease-out;
          transition: opacity 0.1s linear, top 0.1s ease-out;
}

/* Buttons */
/* Grey 333, 555, 777*/
/* Yellow ffea00 */

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #555;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  border: 1px solid #555;
  *border: 0;
  border-color: #555 #555 #555;
  border-color: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0);
  border-bottom-color: #555;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: none);
  filter: none;
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #fff;
  background-color: #777;
}

.btn:active,
.btn.active {
  background-color: #333;
  color: #fff;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
  background-position: 0 0px;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-primary { 
  color: #000;
  text-shadow: none;
  background-color: #ffea00;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  border: 1px solid #ffea00;
  *border-color: #ffea00 #ffea00 #ffea00;
  border-color: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #000;
  background-color: #ffee33;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #ffde00;
}

.btn-info { 
  color: #000;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  border: 1px solid #CCC;
  *border-color: #CCC #CCC #CCC;
  border-color: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #000;
  background-color: transparent;
}

.btn-info:active,
.btn-info.active {
  background-color: transparent;
}

.btn-success { 
  color: #fff;
  text-shadow: none;
  background-color: #16a085;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  border: 1px solid #27ae60;
  *border-color: #27ae60 #27ae60 #27ae60;
  border-color: rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #1abc9c;
}

.btn-success:active,
.btn-success.active {
  background-color: #16a085;
}

.btn-danger { 
  color: #000;
  text-shadow: none;
  background-color: #eee;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  border: 1px solid #eee;
  *border-color: #27ae60 #27ae60 #27ae60;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #000;
  background-color: #ccc;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #eee;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
}

.btn-group > .btn:last-child {
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
}

/* Labels */
.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #555;
}

.label {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.label:empty,
.badge:empty {
  display: none;
}

.label-warning,
.badge-warning {
  background-color: #ffea00;
  color: #000;
}

.label-success,
.badge-success {
  background-color: #16a085;
}

.label-important,
.badge-important {
  background-color: #c0392b;
}

/* Text boxes*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

textarea {
	height: 100px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 234, 0, 0.5);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 234, 0, 0.3);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 234, 0, 0.3);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 234, 0, 0.3);
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #fff;
  margin-top: 80px;
}

/* Explore */

.well-overflow {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

/* Icons */
[class^="icon-"],[class*="icon-"]{
	background-image: url(/assets/glyphicons-halflings.png)	
}

.icon-white{
    background-image: url(/assets/glyphicons-halflings-white.png);
}

/* Profile bar aka hero unit */
.hero-unit {
  padding: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  border: 1px #DADADA solid;
  background-color: #eeeeee;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit img {
  width: 100px;
  height: auto;
  padding-right: 25px;
}

.hero-unit .span10 {
  height: 100px;
  overflow: hidden;
}

.hero-unit .span10 p{
  line-height: 20px;
}

.hero-unit .span10 a{
  color: #000;
}

.hero-unit .span12 a{
  color: #000;
}

.hero-unit .span9 {
  height: 100px;
  overflow: hidden;
  vertical-align: middle;
}

.hero-unit .span3 {
  text-align: center;
  border-left: #ccc solid 1px;
}

.hero-unit .span2 {
  height: 100px;
  overflow: hidden;
  text-align: center;
  border-left: #ccc solid 1px;
}

.hero-unit .span3 .btn{
  width: 80%;
}

.hero-unit .span1 {
  height: 100px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -15px;
}

.tooltip {
  font-size: 14px;
}

/* Alerts */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: none;
  background-color: #ffea00;
  border: 1px solid #ffea00;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #000;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #fff;
  background-color: #27ae60;
  border-color: #27ae60;
}

.alert-success h4 {
  color: #fff;
}

.alert-danger,
.alert-error {
  color: #fff;
  background-color: #c0392b;
  border-color: #c0392b;
}

.alert-danger h4,
.alert-error h4 {
  color: #fff;
}

.alert-info {
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}

.alert-info h4 {
  color: #fff;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/* Popover */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Pagination */
.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  font-size: 16px;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 0px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 0px;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
}

/* Followers */

.followers .thumbnail {
	background-color: #fff;
}

.followers .thumbnails {
	margin-bottom: 0px;
}

.followers h1 {
	display: inline;
	font-size: 30px;
	font-weight: 700;
}

hr {
  margin-top: 25px;
  margin-bottom: 40px;
  border: 0;
  border-top: 3px solid #ddd;
  border-bottom: 1px solid #ffffff;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  background-color: #777;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li > a {
  border: 0px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li:last-child > a {
	text-align: right;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

/* Explore nav */
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.nav-pills a {
  color: #000;
}

.nav-pills .active{
  background-color: #ffea00;
  font-weight: inherit;
  font-size: inherit;
}

.nav-pills .active:hover{
  background-color: #ffea00;
  font-weight: inherit;
  font-size: inherit;
}

.nav-pills .normal-a {
  color: #0088cc;
  text-decoration: none;
}

.nav-pills .normal-a:hover {
  background: none;
  text-decoration: underline;
}

/*Characters remaining in add panel*/
input[type="text"] > .characters-remaining  {
  display: inline-block;
  height: 10px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 8px;
  line-height: 10px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;	
}

/* Home page */
#homepage {
	margin-top: 4%;
}

#homepage h1 {
	font-size: 36px;
	font-weight: 300;
	line-height: 32px;
}

#homepage p {
	margin-top: 0;
	font-size: 18px;
	font-weight: 300;
	line-height: 16px;
}

#homepage .span4 {
	padding-left: 3%;
	padding-top: 5%;
}

#homepage .span8 {
	margin-left: -2%;
}

/* Home page footer */
.homepage {
	position: fixed;
	bottom: 0;
	left: 10px;
	font-size: 12px;
	color: #aaa;
}

.homepage a {
	color: #aaa;
}

.homepage a:hover {
	color: #ccc;
}

/* Search bar */
.search {
	margin-top: -10px;
}

.search-drop {
	height: 30px;
	width: 120px;
}

.select-button {
	background-color: #000;
}

/*.navbar-search {
  position: relative;
  float: left;
  margin-top: 12px;
  margin-right: 10px;
  margin-bottom: 0;
}

.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 26px;
  font-weight: normal;
  line-height: 1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 0px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0), 0 1px 0 rgba(255, 255, 255, 0);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0), 0 1px 0 rgba(255, 255, 255, 0);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0), 0 1px 0 rgba(255, 255, 255, 0);
}

.input-append .add-on-right,
.input-append .add-on-left {
  display: inline-block;
  width: auto;
  height: 36px;
  min-width: 16px;
  padding: 4px 9px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #fff;
}

.input-append .add-on-right {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 0px solid #ccc;
}

.input-prepend .add-on-left {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav .dropdown-toggle .caret {
  margin-top: 4px;
  border-top-color: #000;
  border-bottom-color: #000;
}*/

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #ccc;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ccc;
  background-image: none;
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 0px 0 0 rgba(255, 255, 255, 0.125), inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0px 0 0 rgba(255, 255, 255, 0.125), inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 0 0 rgba(255, 255, 255, 0.125), inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0px 0 0 rgba(255, 255, 255, 0.125), inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0px 0 0 rgba(255, 255, 255, 0.125), inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 0 0 rgba(255, 255, 255, 0.125), inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #fff;
}

/* Edit settings page */
.form-horizontal .control-group {
  margin-bottom: 1px;
  *zoom: 1;
}

.form-horizontal .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 120px;
  *margin-left: 0;
}

.date-select select {
    width: auto;
    height: auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* Editors' picks */
.ep h2 {
	display: inline;
}

/* Info modals */
#tl-info h3, 
#week-info h3, 
#gems-info h3 {
	font-weight: 900;
}
